@function light-comp($color) {
    $complement: complement($color);
    $light-complement: lighten($complement, 5%);
    
    @return $light-complement;
  }

@function dark-comp($color){
    $complement: complement($color);
    $dark-complement: darken($complement, 5);
   
    @return  $dark-complement;
  }